@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: #186AC9;

}

header {
    margin: 0 auto;

}

body {
    color: #fff;
    text-align: center;
}

/* ログイン画面 */

/* #container {
    opacity: 0.5;
    background-color: #4682b4;
    border-radius: 10px;
} */
.input {
    color: black;

}
